body { background-color: #eaddca; }

h1 { background-color: #7b4000;
    color: white;
    width: 60%;
    text-transform: lowercase;
    border: 2px solid #a5733d;
    text-align: center; }
    
h2 { background-color: white;
    color: #7b4000;
    width: 60%;
    text-transform: lowercase;
    border: 2px solid #7b4000;
    text-align: center; }

h3 { background-color: #a5733d;
    color: white;
    width: 60%;
    text-transform: lowercase;
    border: 2px solid #7b4000;
    text-align: center; }

p { height:50px;
    background-color: #7b4000;
    color: rgb(248, 252, 1);
    width: 60%;
    text-transform: uppercase;
    border: 2px solid #a5733d;
    text-align: center; }

li{ color:#7b4000;
    text-transform: capitalize;
    margin-left: 40px;
    border: 4px dotted white;
    width: 50%;}
